{% extends "basic/projects.html" %}
{%block content%}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Flower Recognition</a>
        <small class="date-class">Oct2020</small>
      </div>
      <h2><a class="article-title">CNN</a></h2>
      <span>
      <p class="article-content">Implemented Flower Recognition on 5 types of Flower Species .Using CNN techniques -> RESNET50,VGG16)
        Dataset From Kaggle .
        </p>
      </span>
    </div>
</article>
{%endblock content%}