{%extends "blog/blog-base.html"%}


{%block content%}
    <p class="about-me" style="font-size:20px;">
    I am a sophomore at Thapar Institute of Engineering and Technology,Patiala. <br>
    Self taught and loves to do computer related stuff.
    </p>
    <h1>Framework and Fields Exp.</h1>
    <ul class="experience">
        <li>Django ||</li>
        <li>Machine Learning |||</li>
        <li>Deep Learning|||</li>
        <li>Basic DS And Algos||</li>
        <li>React Js||</li>
    </ul>
    <h1>Languages to Be Done</h1>
    <ul class="languages">
        <li>Python||||</li>
        <li>C++|||</li>
        <li>C|||</li>
        <li>Javascript|</li>
    </ul>
    <br>
    


{%endblock content%}




{% block onlycontact %}
<a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
{% endblock %}