{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {% if title %}
        <title>Hello{{ title }}</title>
    {% else %}
        <title>chut</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home-page' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">Contact</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Internships</a>
              <a class="nav-item nav-link" href="{% url 'project-page' %}">Projects</a>
              <!-- <a class="nav-item nav-link" href="#">Experience</a> -->
              {% block onlycontact %} {% endblock %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 editing-this-thing">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4 col-sm-12 editing-this-thing">
          <div class="content-section">
            <h3 class="moreinfo">Hit Me up!</h3>
            <ul class="list-group">  
              <a href="https://t.me/r_narula"><li class="list-group-item list-group-item-light"id='list-thing'>Telegram</li></a>
              <a href="https://www.instagram.com/raghav.narula_3001/"><li class="list-group-item list-group-item-light"id='list-thing'>Insta</li></a>
              <li class="list-group-item list-group-item-light"id='list-thing'>Mail Me</li>
              <a href="https://github.com/r-narula"><li class="list-group-item list-group-item-light"id='list-thing'>Github</li></a>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function() {     
          $('.nav').on('click',function(e) {
              e.preventDefault();
              $(".side-categories").slideToggle();
          });
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>